/*      Request ID: 4012f0bf5f5a1ef03d954f11c99fd434_1613685861 (07/16/2024 8:51pm) (HcdRCoAgEAXAE+U7UqQ9cGlNcVel2xf9DAxyLUTsdd3g5O0W/gSeA21ElbRnLwqVyZUPJcwfpUHXkI/NpbBJutiDJbMX)      */



/*      Resource ID: 34de043cc9da6f04bae579a8177 (lw-timepicker.scss, compiled by node-sass, minified by cleancss) (01/26/2024 2:47pm) (A:530, B:530, C:581, D:581, F:581, I:446, K:446)      */

.lw-timepicker{position:absolute;font-size:.8em;height:200px;overflow:auto;background-color:#fff;border:solid #24315e;width:6.5em;text-align:right;z-index:1110;border-width:1px 2px 2px 1px;margin:0}.lw-timepicker ul{list-style-type:none;margin:0;padding:0}.lw-timepicker li{white-space:nowrap;cursor:pointer;line-height:1.8em;margin:0;padding:0 .4em}.lw-timepicker li:hover{background-color:#ddd}.lw-timepicker .selected{background-color:#d5e7ff}